{% extends 'Countryinfo_app/base.html' %}

{% block title %}Country Compare{% endblock %}

{% block content %}
<div class="container-fluid ">
    <h1>Compare Two Countries</h1>
    <h2 class="bg-primary-subtle text-danger">{{ country1.name }} vs {{ country2.name }}</h2>
    <table class="table table-striped table-bordered table-hover text-center">
            <thead>
            <th  class="bg-dark text-warning">ATTRIBUTE</th>
            <th class="bg-dark text-warning">{{ country1.name|upper }}</th>
            <th class="bg-dark text-warning">{{ country2.name|upper }}</th>
            </thead>
        <tr>
            <th>Continent</th>
            <td>{{ country1.region }}</td>
            <td>{{ country2.region }}</td>
        </tr>
        <tr>
            <th>Subregion</th>
            <td>{{ country1.subregion }}</td>
            <td>{{ country2.subregion }}</td>
        </tr>
        <tr>
            <th>Capital</th>
            <td>{{ country1.capital }}</td>
            <td>{{ country2.capital }}</td>
        </tr>
        <tr>
            <th>Currency</th>
            <td>
                {% for currency in country1.currencies %}
                    {{ currency }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for currency in country2.currencies %}
                    {{ currency }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Area</th>
            <td>{{ country1.area }}</td>
            <td>{{ country2.area }}</td>
        </tr>
        <tr>
            <th>Population</th>
            <td>{{ country1.population }}</td>
            <td>{{ country2.population }}</td>
        </tr>
        <tr>
            <th>Longitude and Latitude</th>
            <td>{{ country1.latlng.0 }}&nbsp;,&nbsp;{{ country1.latlng.1 }}</td>
            <td>{{ country2.latlng.0 }}&nbsp;,&nbsp;{{ country2.latlng.1 }}</td>
        </tr>
        <tr>
            <th>Timezone</th>
            <td>
                {% for timezone in country1.timezones %}
                    {{ timezone }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for timezone in country2.timezones %}
                    {{ timezone }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>International Calling Code</th>
            <td>
                {% for code in country1.calling_codes %}
                    {{ code }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for code in country2.calling_codes %}
                    {{ code }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Native Name</th>
            <td>{{ country1.native_name }}</td>
            <td>{{ country2.native_name }}</td>
        </tr>
        <tr>
            <th>Other Names</th>
            <td>
                {% for alt_spelling in country1.alt_spellings %}
                    {{ alt_spelling }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for alt_spelling in country2.alt_spellings %}
                    {{ alt_spelling }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Residents</th>
            <td>{{ country1.demonym }}</td>
            <td>{{ country2.demonym }}</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td>
                {% for language in country1.languages %}
                    {{ language }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for language in country2.languages %}
                    {{ language }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Top Level Domain</th>
            <td>{{ country1.tld.0 }}</td>
            <td>{{ country2.tld.0 }}</td>
        </tr>
        <tr>
            <th>More Info</th>
            <td><a href="{{ country1.wiki }}">{{ country1.wiki }}</a></td>
            <td><a href="{{country2.wiki }}">{{ country2.wiki }}</a></td>
        </tr>
    </table>
    
<div class="mt-4">
        <a href="{% url 'menu' %}" class="btn btn-secondary">Back to Menu</a>
        <a href="{% url 'country_compare' %}" class="btn btn-primary">Compare Another Countries</a>
    </div>
</div>

{% endblock %}