{% extends 'countryinfo_app/base.html' %}

{% block title %}Countries and Capitals{% endblock %}

{% block content %}
<body class="text-bg-warning p-3 text-danger-emphasis text-center">
<div class="container-fluid">
    <br>
    <h1 class="bg-primary-subtle text-danger">Countries and Capitals</h1>
    <table class="table table-striped table-hover table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>S.No</th>
                <th>Country</th>
                <th>Capital</th>
                <th>Currency</th>
                <th>Continent</th>
            </tr>
        </thead>
        <tbody>
            {% for country_info in countries_capitals %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ country_info.country }}</td>
                <td>{{ country_info.capital }}</td>
                <td>{{ country_info.currency }}</td>
                <td>{{ country_info.continent }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-4">
        <a href="{% url 'menu' %}" class="btn btn-secondary">Back to Menu</a>
    </div>
</div>
</body>
{% endblock %}