{% extends 'Countryinfo_app/base.html' %}

{% block title %}Country Compare{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form class="border p-4 rounded shadow bg-light" method="post" style="width: 400px;">
        {% csrf_token %}
        <h2 class="text-center" style="font-size: 24px; margin-bottom: 20px;">Compare Two Countries</h2>
        <div class="form-group" style="margin-bottom: 20px;">
            <label class="form-label" for="country1" style="font-size: 18px;">First Country:</label>
            <input class="form-control form-control-sm" type="text" name="country1" id="country1" placeholder="Enter First Country Name" style="font-size: 18px;">
        </div>
        <div class="form-group" style="margin-bottom: 20px;">
            <label class="form-label" for="country2" style="font-size: 18px;">Second Country:</label>
            <input class="form-control form-control-sm" type="text" name="country2" id="country2" placeholder="Enter Second Country Name" style="font-size: 18px;">
        </div>
        <div class="text-center" style="margin-top: 20px;">
            <button type="submit" class="btn btn-danger" style="font-size: 18px;">Submit</button>
        </div>
    </form>
</div>
{% endblock %}